<div class="container mt-5 pt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Flower Basket Id</th>
        <th>Flower Name</th>
        <th>Basket Name</th>
        <th>Price</th>
        <th>Order Date</th>
        <th>User Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% orderhistory.forEach(function(i){ %>
      <tr>
        <td>
          <%= i.id %>
        </td>
        <td>
          <%= i.comboId %>
        </td>
        <td>
          <%= i.flowerName %>
        </td>
        <td>
          <%= i.BasketName %>
        </td>
        <td>
          <%= i.price %>
        </td>
        <td>
          <%= i.orderDate %>
        </td>
        <td>
          <%= i.username %>
        </td>
        <td>
          <%= i.status %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
