<div class="container">
  <h2>Flower Basket Combo Details</h2>
  <h3>Combo Id:</h3>
  <h4><%= combo[0].id %></h4>
  <h3>Flower Name:</h3>
  <h4><%= combo[0].flowerName %></h4>
  <img alt="Flower image" src=" <%= combo[0].flowerImageUrl %>" style="width: 150px; height: 150px;"></img>
  <h3>Basket Name:</h3>
  <h4><%= combo[0].basketName %></h4>
  <img alt="Basket image" src=" <%= combo[0].basketImageUrl %>" style="width: 150px; height: 150px;"></img>
  <h3>Details:</h3>
  <h4><%= combo[0].details %></h4>
  <h3>Price:</h3>
  <h4><%= combo[0].price %></h4>
  <a href="/placeOrder">Place Order</a>
</div>
